.first-line {
    text-align: center;
    margin: 30px;
    border-radius: 8xp;
    border: 3px solid whitesmoke;
    padding: 7px;
    background-color: whitesmoke;
    margin-bottom: 45px;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.main-content img {
    width: 375px;
    height: 250px;
}
.anime img {
    display: inline-block;
    width: 345px;
    height: 220px;
}
h2 {
    text-align: center;
    color: red;
}
.table {
    padding: 5px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.rando img {
    width: 675px;
    height: 100px;
}

