.first-line {
    display: block;
}
.drpdown img {
    width: 50px;
    height: 55px;
}
.drpbutton {
    background-color: rgb(129, 236, 201);
    padding: 2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 8px 12px;
}
.drpdown {
    position: fixed;
}
.dropdown-content {
    display: none;
    background-color: rgb(224, 152, 152);
    min-width: 160px;
}
.drpdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
.dropdown-content a:hover {
    background-color: rgb(155, 109, 109);
}
.name {
    margin: auto;
    margin-top: 45px;
    width: fit-content;
    line-height: 10px;
    color:whitesmoke;
    padding: 5px;
    font-size: x-large;
    border: 3px solid whitesmoke;
    /*background-color: rgb(206, 39, 39);
    */
}
body {
    background-image: url("images/SunsetGokceada.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h3 {
    margin: auto;
    text-align: center;
    font-size: larger;
    color:white;
    font-family: 'Recursive', sans-serif;
    width: fit-content;
    padding: 10px;
    /*background-color: rgb(206, 20, 20);
    border: 1px solid whitesmoke;
     */
}