.first-line {
    display: flex;
}
.drpdown img {
    width: 50px;
    height: 55px;
}
.drpbutton {
    background-color: rgb(129, 236, 201);
    padding: 2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 25px;
}
.drpdown {
    position: fixed;
}
.dropdown-content {
    display: none;
    background-color: rgb(224, 152, 152);
    min-width: 160px;
}
.drpdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
.dropdown-content a:hover {
    background-color: rgb(155, 109, 109);
}
.name {
    text-align: center;
    margin-left: 450px;
    margin-right: auto;
    margin-top: 20px;
    line-height: 20px;
    color:whitesmoke;
    padding: 1px;
    font-size: x-large;
    border: 5px solid rgb(136, 26, 26);
    background-color: rgb(206, 39, 39);
    
}
body {
    background-image: url("images/SunsetGokceada.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h3 {
    margin: auto;
    margin-right: 60px;
    text-align: center;
    font-size: larger;
    color: beige;
    font-family: 'Recursive', sans-serif;
    padding: 10px;
   /* background-color: rgb(206, 20, 20);
    border: 1px solid whitesmoke; */
     
}

.logos {
    display: flex;
    justify-content: space-between;
}

.giddy {
    background-color: tomato;
    border-radius: 2cm;
    cursor: pointer;
    margin: 20px 12px;
}
.insta {
    border-radius: 2cm;
    margin: 20px 12px;
    cursor: pointer;
}